Bank/Alicja/Service References/ShopService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShopService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IShopService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShopService_doInit_InputMessage">
    <wsdl:part name="parameters" element="tns:doInit" />
  </wsdl:message>
  <wsdl:message name="IShopService_doVerifySignature_InputMessage">
    <wsdl:part name="parameters" element="tns:doVerifySignature" />
  </wsdl:message>
  <wsdl:message name="IShopService_doChooseSides_InputMessage">
    <wsdl:part name="parameters" element="tns:doChooseSides" />
  </wsdl:message>
  <wsdl:message name="IShopService_doVerifyBanknote_InputMessage">
    <wsdl:part name="parameters" element="tns:doVerifyBanknote" />
  </wsdl:message>
  <wsdl:message name="IShopService_onInit_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onInit" />
  </wsdl:message>
  <wsdl:message name="IShopService_onVerifySignature_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onVerifySignature" />
  </wsdl:message>
  <wsdl:message name="IShopService_onChooseSides_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onChooseSides" />
  </wsdl:message>
  <wsdl:message name="IShopService_onVerifyBanknote_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onVerifyBanknote" />
  </wsdl:message>
  <wsdl:portType name="IShopService">
    <wsdl:operation name="doInit">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/doInit" message="tns:IShopService_doInit_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doVerifySignature">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/doVerifySignature" message="tns:IShopService_doVerifySignature_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doChooseSides">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/doChooseSides" message="tns:IShopService_doChooseSides_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doVerifyBanknote">
      <wsdl:input wsaw:Action="http://tempuri.org/IShopService/doVerifyBanknote" message="tns:IShopService_doVerifyBanknote_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="onInit">
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/onInit" message="tns:IShopService_onInit_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onVerifySignature">
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/onVerifySignature" message="tns:IShopService_onVerifySignature_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onChooseSides">
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/onChooseSides" message="tns:IShopService_onChooseSides_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onVerifyBanknote">
      <wsdl:output wsaw:Action="http://tempuri.org/IShopService/onVerifyBanknote" message="tns:IShopService_onVerifyBanknote_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IShopService" type="tns:IShopService">
    <wsp:PolicyReference URI="#NetTcpBinding_IShopService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="doInit">
      <soap12:operation soapAction="http://tempuri.org/IShopService/doInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="doVerifySignature">
      <soap12:operation soapAction="http://tempuri.org/IShopService/doVerifySignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="doChooseSides">
      <soap12:operation soapAction="http://tempuri.org/IShopService/doChooseSides" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="doVerifyBanknote">
      <soap12:operation soapAction="http://tempuri.org/IShopService/doVerifyBanknote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="onInit">
      <soap12:operation soapAction="http://tempuri.org/IShopService/onInit" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onVerifySignature">
      <soap12:operation soapAction="http://tempuri.org/IShopService/onVerifySignature" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onChooseSides">
      <soap12:operation soapAction="http://tempuri.org/IShopService/onChooseSides" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onVerifyBanknote">
      <soap12:operation soapAction="http://tempuri.org/IShopService/onVerifyBanknote" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShopService">
    <wsdl:port name="NetTcpBinding_IShopService" binding="tns:NetTcpBinding_IShopService">
      <soap12:address location="net.tcp://localhost:2101/Sklep" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:2101/Sklep</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>