Bank/Customer/Service References/Bank/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBankService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Bank" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankService_doCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:doCreate" />
  </wsdl:message>
  <wsdl:message name="IBankService_doValidate_InputMessage">
    <wsdl:part name="parameters" element="tns:doValidate" />
  </wsdl:message>
  <wsdl:message name="IBankService_doAgreementInit_InputMessage">
    <wsdl:part name="parameters" element="tns:doAgreementInit" />
  </wsdl:message>
  <wsdl:message name="IBankService_doAgreementVerf_InputMessage">
    <wsdl:part name="parameters" element="tns:doAgreementVerf" />
  </wsdl:message>
  <wsdl:message name="IBankService_onBeforeAgreementInit_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onBeforeAgreementInit" />
  </wsdl:message>
  <wsdl:message name="IBankService_onPublicKey_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onPublicKey" />
  </wsdl:message>
  <wsdl:message name="IBankService_onBeforeAgreementVerf_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onBeforeAgreementVerf" />
  </wsdl:message>
  <wsdl:message name="IBankService_onAfterAgreementVerf_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onAfterAgreementVerf" />
  </wsdl:message>
  <wsdl:message name="IBankService_onBankNoteValidate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onBankNoteValidate" />
  </wsdl:message>
  <wsdl:portType name="IBankService">
    <wsdl:operation name="doCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/doCreate" message="tns:IBankService_doCreate_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doValidate">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/doValidate" message="tns:IBankService_doValidate_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doAgreementInit">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/doAgreementInit" message="tns:IBankService_doAgreementInit_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doAgreementVerf">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/doAgreementVerf" message="tns:IBankService_doAgreementVerf_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="onBeforeAgreementInit">
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/onBeforeAgreementInit" message="tns:IBankService_onBeforeAgreementInit_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onPublicKey">
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/onPublicKey" message="tns:IBankService_onPublicKey_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onBeforeAgreementVerf">
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/onBeforeAgreementVerf" message="tns:IBankService_onBeforeAgreementVerf_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onAfterAgreementVerf">
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/onAfterAgreementVerf" message="tns:IBankService_onAfterAgreementVerf_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onBankNoteValidate">
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/onBankNoteValidate" message="tns:IBankService_onBankNoteValidate_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IBankService" type="tns:IBankService">
    <wsp:PolicyReference URI="#NetTcpBinding_IBankService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="doCreate">
      <soap12:operation soapAction="http://tempuri.org/IBankService/doCreate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="doValidate">
      <soap12:operation soapAction="http://tempuri.org/IBankService/doValidate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="doAgreementInit">
      <soap12:operation soapAction="http://tempuri.org/IBankService/doAgreementInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="doAgreementVerf">
      <soap12:operation soapAction="http://tempuri.org/IBankService/doAgreementVerf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="onBeforeAgreementInit">
      <soap12:operation soapAction="http://tempuri.org/IBankService/onBeforeAgreementInit" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onPublicKey">
      <soap12:operation soapAction="http://tempuri.org/IBankService/onPublicKey" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onBeforeAgreementVerf">
      <soap12:operation soapAction="http://tempuri.org/IBankService/onBeforeAgreementVerf" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onAfterAgreementVerf">
      <soap12:operation soapAction="http://tempuri.org/IBankService/onAfterAgreementVerf" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onBankNoteValidate">
      <soap12:operation soapAction="http://tempuri.org/IBankService/onBankNoteValidate" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankService">
    <wsdl:port name="NetTcpBinding_IBankService" binding="tns:NetTcpBinding_IBankService">
      <soap12:address location="net.tcp://localhost:2000/Bank" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:2000/Bank</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>