Bank/Alicja/Service References/BankService/Bank.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Bank.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Bank.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:complexType name="Banknote">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="tns:Identity" />
      <xs:element minOccurs="0" name="Serial" type="ser:guid" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Banknote" nillable="true" type="tns:Banknote" />
  <xs:complexType name="Identity">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="LeftId" nillable="true" type="q1:ArrayOfPublicSecret" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="RightId" nillable="true" type="q2:ArrayOfPublicSecret" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Identity" nillable="true" type="tns:Identity" />
</xs:schema>