Bank/Alicja/Service References/BankService/Common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfPublicSecret">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PublicSecret" nillable="true" type="tns:PublicSecret" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPublicSecret" nillable="true" type="tns:ArrayOfPublicSecret" />
  <xs:complexType name="PublicSecret">
    <xs:sequence>
      <xs:element minOccurs="0" name="hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="random1" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublicSecret" nillable="true" type="tns:PublicSecret" />
  <xs:complexType name="PrivateSecret">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="random2" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrivateSecret" nillable="true" type="tns:PrivateSecret" />
</xs:schema>