Bank/Alicja/Service References/BankService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBankService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Common" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankService_doInit_InputMessage">
    <wsdl:part name="parameters" element="tns:doInit" />
  </wsdl:message>
  <wsdl:message name="IBankService_doCreateAgreement_InputMessage">
    <wsdl:part name="parameters" element="tns:doCreateAgreement" />
  </wsdl:message>
  <wsdl:message name="IBankService_doVerifyAgreement_InputMessage">
    <wsdl:part name="parameters" element="tns:doVerifyAgreement" />
  </wsdl:message>
  <wsdl:message name="IBankService_doCreateSecret_InputMessage">
    <wsdl:part name="parameters" element="tns:doCreateSecret" />
  </wsdl:message>
  <wsdl:message name="IBankService_doVerifySecret_InputMessage">
    <wsdl:part name="parameters" element="tns:doVerifySecret" />
  </wsdl:message>
  <wsdl:message name="IBankService_onInit_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onInit" />
  </wsdl:message>
  <wsdl:message name="IBankService_onCreateAgreement_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onCreateAgreement" />
  </wsdl:message>
  <wsdl:message name="IBankService_onVerifyAgreement_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onVerifyAgreement" />
  </wsdl:message>
  <wsdl:message name="IBankService_doUncoverSecret_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:doUncoverSecret" />
  </wsdl:message>
  <wsdl:message name="IBankService_onVerifySecret_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:onVerifySecret" />
  </wsdl:message>
  <wsdl:portType name="IBankService">
    <wsdl:operation name="doInit">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/doInit" message="tns:IBankService_doInit_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doCreateAgreement">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/doCreateAgreement" message="tns:IBankService_doCreateAgreement_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doVerifyAgreement">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/doVerifyAgreement" message="tns:IBankService_doVerifyAgreement_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doCreateSecret">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/doCreateSecret" message="tns:IBankService_doCreateSecret_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doVerifySecret">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/doVerifySecret" message="tns:IBankService_doVerifySecret_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="onInit">
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/onInit" message="tns:IBankService_onInit_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onCreateAgreement">
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/onCreateAgreement" message="tns:IBankService_onCreateAgreement_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onVerifyAgreement">
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/onVerifyAgreement" message="tns:IBankService_onVerifyAgreement_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="doUncoverSecret">
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/doUncoverSecret" message="tns:IBankService_doUncoverSecret_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="onVerifySecret">
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/onVerifySecret" message="tns:IBankService_onVerifySecret_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IBankService" type="tns:IBankService">
    <wsp:PolicyReference URI="#NetTcpBinding_IBankService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="doInit">
      <soap12:operation soapAction="http://tempuri.org/IBankService/doInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="doCreateAgreement">
      <soap12:operation soapAction="http://tempuri.org/IBankService/doCreateAgreement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="doVerifyAgreement">
      <soap12:operation soapAction="http://tempuri.org/IBankService/doVerifyAgreement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="doCreateSecret">
      <soap12:operation soapAction="http://tempuri.org/IBankService/doCreateSecret" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="doVerifySecret">
      <soap12:operation soapAction="http://tempuri.org/IBankService/doVerifySecret" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="onInit">
      <soap12:operation soapAction="http://tempuri.org/IBankService/onInit" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onCreateAgreement">
      <soap12:operation soapAction="http://tempuri.org/IBankService/onCreateAgreement" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onVerifyAgreement">
      <soap12:operation soapAction="http://tempuri.org/IBankService/onVerifyAgreement" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doUncoverSecret">
      <soap12:operation soapAction="http://tempuri.org/IBankService/doUncoverSecret" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="onVerifySecret">
      <soap12:operation soapAction="http://tempuri.org/IBankService/onVerifySecret" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankService">
    <wsdl:port name="NetTcpBinding_IBankService" binding="tns:NetTcpBinding_IBankService">
      <soap12:address location="net.tcp://localhost:2100/Bank" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:2100/Bank</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>