Bank/Alicja/Service References/BankService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Bank.Data" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Common" />
  <xs:element name="doInit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bank.Data" minOccurs="0" name="aBanknote" nillable="true" type="q1:Banknote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doCreateAgreement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="aBlindMessages" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doVerifyAgreement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="aSecrets" nillable="true" type="q3:ArrayOfPublicSecret" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="aBlindingFactors" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doCreateSecret">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="aSecret" nillable="true" type="q5:PublicSecret" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doVerifySecret">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="aPublic" nillable="true" type="q6:PublicSecret" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="aPrivate" nillable="true" type="q7:PrivateSecret" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onInit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Bank.Data" minOccurs="0" name="aBanknote" nillable="true" type="q8:Banknote" />
        <xs:element minOccurs="0" name="aBanknoteCount" type="xs:int" />
        <xs:element minOccurs="0" name="aPublicKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onCreateAgreement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="aIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onVerifyAgreement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="aBanknote" nillable="true" type="q9:PublicSecret" />
        <xs:element minOccurs="0" name="aSignature" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aAgreed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doUncoverSecret">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="aSecret" nillable="true" type="q10:PublicSecret" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="onVerifySecret">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Common" minOccurs="0" name="aSecret" nillable="true" type="q11:PublicSecret" />
        <xs:element minOccurs="0" name="aAgreed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>